.radio {
    background-color: blueviolet;
}

.radio::before {
    background-color: blueviolet;
}


.radio:checked::before {
    background-color: blueviolet;
}

.label {
}

.options {
    display: flex;
    flex-direction: column;
}
